.panel.panel-default
  .panel-heading
    Timetable
  / /.panel-heading
  .panel-body
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", href: "#day1"} Day 1
      %li
        %a{"data-toggle" => "tab", href: "#day2"} Day 2
      %li
        %a{"data-toggle" => "tab", href: "#day3"} Day 3
    / Tab panes
    .tab-content
      #day1.tab-pane.fade.in.active
        = render partial: "timetables/day", locals: {events: timetable.events, timetable: timetable}
      #day2.tab-pane.fade
        = render partial: "timetables/day", locals: {events: timetable.events, timetable: timetable}
      #day3.tab-pane.fade
        = render partial: "timetables/day", locals: {events: timetable.events, timetable: timetable}

