.panel.panel-default
  .panel-heading
    Timetable
  / /.panel-heading
  .panel-body
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", href: "#home"} Day 1
      %li
        %a{"data-toggle" => "tab", href: "#profile"} Day 2
      %li
        %a{"data-toggle" => "tab", href: "#messages"} Day 3
      %li
        %a{"data-toggle" => "tab", href: "#settings"} Day 4
    / Tab panes
    .tab-content
      #home.tab-pane.fade.in.active
        = render partial: "timetables/day", locals: {events: timetable.events, timetable: timetable}
      #profile.tab-pane.fade
        = render partial: "timetables/day", locals: {events: timetable.events, timetable: timetable}
      #messages.tab-pane.fade
        = render partial: "timetables/day", locals: {events: timetable.events, timetable: timetable}
      #settings.tab-pane.fade
        = render partial: "timetables/day", locals: {events: timetable.events, timetable: timetable}

