.row
  .col-lg-12
    %h1.page-header
      Registration:
      = @registration.name

      - if !@registration.withdrawn
        .btn-group
          %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
            %i.fa.fa-gear.fa-fw
            %span.caret
          %ul.dropdown-menu.pull-right{role: "menu"}
            - if can? :withdraw, @registration
              %li
                = button_to 'Withdraw', withdraw_registration_path(@registration), :method => :put
            - if can? :accept, @registration
              %li
                = button_to  'Accept', accept_registration_path(@registration), :method => :put
            - if can? :reject, @registration
              %li
                = button_to 'Reject', reject_registration_path(@registration), :method => :put

