.panel.panel-default
  .panel-heading
    %i.fa.fa-bell.fa-fw
    Notifications
  / /.panel-heading
  .panel-body
    .list-group
      %a.list-group-item{href: "#"}
        %i.fa.fa-comment.fa-fw
        Resolution revised
        %span.pull-right.text-muted.small
          %em 4 minutes ago
      %a.list-group-item{href: "#"}
        %i.fa.fa-twitter.fa-fw
        3 New Delegates
        %span.pull-right.text-muted.small
          %em 12 minutes ago
      %a.list-group-item{href: "#"}
        %i.fa.fa-envelope.fa-fw
        Message Sent
        %span.pull-right.text-muted.small
          %em 27 minutes ago
      %a.list-group-item{href: "#"}
        %i.fa.fa-tasks.fa-fw
        New Tasks
        %span.pull-right.text-muted.small
          %em 43 minutes ago
      %a.list-group-item{href: "#"}
        %i.fa.fa-upload.fa-fw
        Server Rebooted
        %span.pull-right.text-muted.small
          %em 11:32 AM
      %a.list-group-item{href: "#"}
        %i.fa.fa-shopping-cart.fa-fw
        New Order Placed
        %span.pull-right.text-muted.small
          %em 9:49 AM
      %a.list-group-item{href: "#"}
        %i.fa.fa-money.fa-fw
        Payment Received
        %span.pull-right.text-muted.small
          %em Yesterday
    / /.list-group
    %a.btn.btn-default.btn-block{href: "#"} View All Alerts
  / /.panel-body
/ /.panel

